$blue-color: #42a7fe;
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.dropdown {
    position: relative;
    width: 40rem;
    margin: 2rem auto 0;
    &__select {
        padding: 2rem 2.5rem 2rem 4rem;
        background-color: $blue-color;
        color: white;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__text {
        margin-left: 3.5rem;
    }
    &__caret {
        margin-left: auto;
    }
    &__item {
        padding: 2rem 2.5rem 2rem 4rem;
        display: flex;
        align-items: center;
        color: #b3bbce;
        transition: all .2s linear;
        border-left: 3px solid transparent;
        &:not(:last-child) {
            border-bottom: 1px solid #eee;
        }
        &:hover {
            color: #74809d;
            cursor: pointer;
            border-left-color: $blue-color;
        }
    }
    &__list {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        margin-top: 3rem;
        border-radius: 4px;
        box-shadow: 0 0 10px 0 rgba(black, 0.1);
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        transition: all .25s linear;
        &:before {
            content: '';
            @include size(2rem);
            background-color: #fff;
            border-radius: 3px;
            position: absolute;
            top: 0;
            right: 2rem;
            transform: translateY(-50%) rotate(45deg);
            box-shadow: 0 0 10px 0 rgba(black, 0.1);
            z-index: -1;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            @include size(100%, 3rem);
            background-color: transparent;
            transform: translateY(-100%);
        }
    }
    &:hover {
        .dropdown__list {
            opacity: 1;
            visibility: visible;
        }
    }
}